/** Home Page **/
body {
	padding-top: 0;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}


.dataframe.dataTable.no-footer{
    width: 100%;
}
p.link {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
}

p.test{
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    }

.test:hover, .link:hover{
    overflow: visible;
    white-space: normal;
    width: auto;

}

form {
margin: 0 auto;
width:80%;
}

.container-fluid{
margin-right: 4%;
}

textarea {
width:100%;
}

.block.table {
margin: 0 auto;!important
width:80%;!important
}


#content {
  margin-left:0px;
}
.hide-sidebar, .show-sidebar {
  cursor: pointer;
}
.padd-bottom {
  margin-bottom: 5px;
}
.breadcrumb {
	margin: 0 0 0px;
	padding: 10px 0px;
	background-color: transparent;
}

.block {
	border: 1px solid #ccc;
	background: white;
	margin: 1em 0em;
	border-top: none;
}

.block-content {
	margin: 1em;
	min-height: .25em;
}

.block-header {
	margin-bottom: 0px;
	border-right: none;
	border-left: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.block-header div {
	padding-top: 10px;
}

.easyPieChart {
	margin: 0px auto;
}

.chart-bottom-heading {
	margin-top: 5px;
	text-align: center;
}

@media (min-width: 979px){
    body {
            padding-top: 60px;
    }
}